.logo {
    position: absolute;
}

.logo img {
    width: 70px;
    height: 70px;
}

.splash-block {
    height: 40vh;
    background-size: cover;
    margin-bottom: 12vh;
}

.headline-holder {
    bottom: -8vh;
}

.headline-holder .facebook, .headline-holder .twitter {
    display: none;
}

.headline {
    width: auto;
    padding: 10px 20px;
}

.headline .headline-focus {
    font-size: 30vw;
}

.headline .headline-getmoredone {
    font-size: 9vw;
}

.headline .kern-o, .headline .kern-f {
    letter-spacing: -1vw;
}

.intro-block {
    width: 94%;
    padding: 0 3%;
}

.intro-text p {
    font-size: 16pt;
}

.signupForm input[type=email], .signupForm input[type=submit] {
    width: 100%;
    clear: both;
    margin: 5px 0;
}

.three-step-process, .detail-row, .final-signup, footer {
    display: none;
}