main {
    width: auto;
    margin: 0 8.5vw;
}

.headline .headline-focus {
    font-size: 35vw;
}

.headline .headline-teachyourself {
    font-size: 11.55vw;
}

.headline .headline-getmoredone {
    font-size: 10.5vw;
}

.headline .kern-o, .headline .kern-f {
    letter-spacing: -1vw;
}

.intro h3 {
    font-size: 18pt;
}

.intro p {
    font-size: 15pt;
}

.signupForm input[type=email], .signupForm input[type=submit] {
    width: 98%;
    clear: both;
}

.headline-follow-block {
    margin: 0;
    padding-top: 5vw;
}

.signupForm {
    margin-top: 5vw;
}